html{
    font-family: 'Roboto', sans-serif;
    background: #303030;
    color: #E6E6E6;
}
.timer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction:column;
  text-transform: uppercase;
  text-align: center;
  min-height: 100vh;
}
.time-left{
    font-size: x-large;
}
.pure-menu-may-wrap {
    white-space: normal;
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}
.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
.pure-form legend{
        color: #E6E6E6;
}

.pure-form textarea{
  background: #303030;
}

.pure-menu-item{
 background: #303030;
}

.pure-menu-item a[data-time]:hover{
    cursor:pointer;
}

.pure-menu-children{
    border: grey;
}